.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  width: 100%;

  -o-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

li:hover {
  background-color: #f0fdee;
}

span {
  color: #89c783;
  padding: 5px 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  border: none;
  overflow-wrap: anywhere;
  cursor: pointer;

  width: 100%;

  -o-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

span:focus {
  outline: none;
  color: #000;
  border-top: 4px solid #89c783;
  border-bottom: 4px solid #89c783;
  border-radius: 4px;
}

span:focus::-moz-placeholder {
  color: #bbb;
}

span:focus::-webkit-input-placeholder {
  color: #bbb;
}

span:focus:-ms-input-placeholder {
  color: #bbb;
}

span:focus::-ms-input-placeholder {
  color: #bbb;
}

span:focus::placeholder {
  color: #bbb;
}

span.done {
  color: #ccc;
  text-decoration: line-through;
}

span.important {
  color: red;
}

span.important.done {
  color: rgb(255, 160, 160);
  text-decoration: line-through;
}
