<li *ngIf="todo">
  <div class="flex flex-center">
    <button type="button" (click)="handleToggleDone(todo.id)">
      <fa-icon *ngIf="!todo.done" [icon]="faCircle"></fa-icon>
      <fa-icon *ngIf="todo.done" [icon]="faCheckCircle"></fa-icon>
    </button>

    <input
      [class.important]="todo?.important === true"
      [(ngModel)]="todo.label"
      placeholder="Empty label"
    />

    <button type="button" (click)="handleToggleImportant(todo.id)">
      <fa-icon [icon]="faExclamationCircle"></fa-icon>
    </button>

    <button type="button" (click)="handleDelete(todo.id)">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</li>
