<li *ngIf="todo">
  <div class="flex flex-center">
    <button type="button" (click)="handleToggleDone(todo.id)">
      <fa-icon *ngIf="!todo.done" [icon]="faCircle"></fa-icon>
      <fa-icon *ngIf="todo.done" [icon]="faCheckCircle"></fa-icon>
    </button>

    <!-- <input
      type="text"
      [class.important]="todo.important === true"
      [class.done]="todo.done === true"
      [(ngModel)]="label"
      (blur)="handleLabelUpdate(todo.id)"
      (keyup.escape)="handleLabelUpdateCancel()"
      placeholder="Empty label"
    /> -->

    <span
      [class.important]="todo.important === true"
      [class.done]="todo.done === true"
      >{{ label }}</span
    >

    <button type="button" (click)="handleToggleImportant(todo.id)">
      <fa-icon [icon]="faExclamationCircle"></fa-icon>
    </button>

    <button type="button" (click)="handleDelete(todo.id)">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</li>
