<button
  [type]="type"
  [class.primary]="primary"
  [class.secondary]="secondary"
  [class.border]="border"
  [class.left-round]="leftRound"
  [class.round]="round"
  [class.right-round]="rightRound"
  [class.square]="square"
  [class.square-small]="squareSmall"
  [class.inside-table]="insideTable"
  [class.inside-table-first-column]="insideTableFirstColumn"
  [class.inside-table-last-column]="insideTableLastColumn"
  [class.long]="long"
  [class.stretch]="stretch"
  [class.wrap]="wrap"
  [class.active]="active"
  [disabled]="disabled"
>
  <ng-content></ng-content>
</button>
