.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.max-width {
  margin: auto;
  max-width: 560px;
}

.space {
  margin: 15px auto;
}

a {
  cursor: default;
  width: 100%;
}
