.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.max-width {
  margin: auto;
  max-width: 560px;
}

span {
  color: #89c783;
  margin-right: 10px;
}

select {
  padding: 5px 10px;
  color: #89c783;
  background-color: #e6fae3;
  font-size: 16px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select:focus {
  outline: none;
}
